@font-face {
  font-family: "Unifont";
  src: url("unifont-15.1.05.otf");
}

.pd {
  border-collapse: collapse;
  border: #1c1c1c;
  color: white;
  font-family: 'Unifont', monospace;
}

.pd td,
th {
  padding: 5px;
}

.pd tr:hover {
  background: #303030;
  /* font-weight: bold; */
}
